html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.form__input {
  text-align: left;
  width: 100%;
  margin: 20px;
}

.input {
  width: 600px;
  height: 60px;
  border: 2px solid rgb(133, 130, 130);
  border-radius: 5px 5px 5px 5px;
  font-size: 25px;
  text-indent: 6px;
}

.pnotify-container {
  display: flex;
  position: absolute;
  top: 35px;
  left: 650px;
  padding: 0px;
}

.form__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form__item>h2 {
  width: 100%;
  text-align: center;
}

.form__item>div>img {
  width: 300px;
}

.form__item>div {
  padding-right: 40px;
}

.form__item>ul>li {
  list-style: none;
}

.form__item>ul {
  padding-left: 0px;
}

.active__js {
  width: 600px;
  font-size: 25px;
}
